<html>
    <head>
        <title>Chat Room</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script></head>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    </head>
    <body>
        <script type="text/javascript" src="{{ url_for('static', filename = 'socket.js') }}"></script>
        <div class ="content">
            <div class = "col1 button-section">
                <h3>Qwik Chat</h3>
                <ul id="messages" data-room={{room}} data-username={{user}} data-streamID={{room.split(":")[1] if (room.split(":")[0] == user) else room.split(":")[3]}}></ul>
                <input class="form-control message-logs" type="text" id="myMessage">
        
                <button id="sendbutton" class="btn btn-primary">Send</button>
                <br>
                <br>
                <button id="uploadbutton" class="btn btn-success">Start Broadcasting</button>
                <button id="stopbutton" class="btn btn-danger">Stop Broadcasting</button>
            </div>
            <div class="col2 upload-section">
                <h3>Your Camera:</h3>
                <video autoplay=true id="myStream"></video>
                <h3>Incoming Stream:</h3>
                <img id="incStream" src="{{url_for('get_stream', streamID = (room.split(":")[3] if (room.split(":")[0] == user) else room.split(":")[1]))}}"/>
                <canvas id ="canvas"/>
            </div>
        </div>
    </body>
</html>